<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>-->
        <!--&lt;!&ndash;驼峰命名&ndash;&gt;-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true" />-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
        <!--&lt;!&ndash;延迟加载，按需加载&ndash;&gt;-->
        <!--<setting name="lazyLoadingEnabled" value="true"></setting>-->
        <!--&lt;!&ndash;开启全局二级缓存的配置&ndash;&gt;-->
        <!--<setting name="cacheEnabled" value="true"></setting>-->
    <!--</settings>-->

    <!--指定数据库的多个厂商-->
    <!--<databaseIdProvider type="DB_VENDOR">-->
        <!--<property name="MySQL" value="mysql"></property>-->
        <!--<property name="Oracle" value="oracle"></property>-->
    <!--</databaseIdProvider>-->

</configuration>